<div class="input-container">
  <mat-form-field appearance="outline" class="input-field">
    <mat-label>YouTube URL</mat-label>
    <input matInput [formControl]="inputControl" placeholder="https://www.youtube.com/watch?v=jNQXAC9IVRw">
    <mat-error *ngIf="inputControl.invalid && inputControl.touched">
      {{ getErrorMessage() }}
    </mat-error>
  </mat-form-field>
  <button mat-fab color="primary" class="submit-button" (click)="onSubmit()" [disabled]="inputControl.invalid">
    <mat-icon>north</mat-icon>
  </button>
  <button mat-fab color="primary" class="submit-button" (click)="onFineTuned()" [disabled]="inputControl.invalid">
    <mat-icon>tune</mat-icon>
  </button>
</div>