<div class="summarise-container">
  <nav class="summarise-nav">
    <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" [value]="selectedToggle" (change)="onToggleChange($event)">
      <mat-button-toggle value="text">
        <mat-icon>description</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="image">
        <mat-icon>image</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="audio">
        <mat-icon>audiotrack</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="video">
        <mat-icon>videocam</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="weblink">
        <mat-icon>link</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </nav>
  <router-outlet></router-outlet>
</div>